header{
    font-size:30px;
}
header .navbar-brand{
    font-size:50px;
    margin-left:0.5cm;
}
header .nav-item{
    margin-left:0.5cm;
    margin-right:0.5cm;
}

@media (max-width: 3000px) {
    h1{
        font-size: calc( 3rem +   1.5vw);
        text-align:left;
        font-family: '微軟正黑體';
        font-weight: bold;
    }
}
#bigpg p{
    font-size:1cm;
    font-family: '微軟正黑體';
    margin-bottom:30px;
}
#bigpg a{
    font-size:28px;
    padding:12px 25px;
    border-radius: 25px;
    color:black;
    text-decoration: none;
    font-weight: bold;
    background-color: #B9B9FF;
    font-family: '微軟正黑體';
}
#bigpg .container-fluid{
    background-color:#ECECFF;
    padding:5cm 5cm;
}