body{
    font-family: '微軟正黑體';
}
header{
    font-size:30px;
}
header .navbar-brand{
    font-size:50px;
    margin-left:0.5cm;
}
header .nav-item{
    margin-left:0.5cm;
    margin-right:0.5cm;
}


.bigpg p{
    font-size:1cm;
    margin-bottom:30px;
}
.bigpg a{
    position: absolute;
    font-size:28px;
    padding:12px 25px;
    border-radius: 25px;
    color:black;
    text-decoration: none;
    font-weight: bold;
    background-color: #B9B9FF;
    transition: 0.3s;
    
}
.bigpg a:hover{
    transform: scale(1.08);
    color: white;
    background-color: #7D7DFF;
}
.bigpg{
    background-image:url("../Image/bigpg.png") ;
    background-size:cover;
    background-color:#ECECFF;
    padding:6cm 5cm;
    height:700px;
}

.New_Product .title{
    padding-top:50px;
    padding-bottom:50px;
}

.New_Product h1{
    font-size: 40px;
    padding-bottom:-10px;
}
.title h1{
    font-size:50px;
}

.New_P1,.New_P2,.New_P3,.New_P4,.New_P5,.New_P6{
    float:left;
    margin-left:4%;
    margin-bottom:2%;
    width:420px;
    height:470px;
    background-color: #ECECFF;
    transition: 0.3s;
}
.New_P1,.New_P4{
    margin-left:12%;
}
.New_P1:hover,.New_P2:hover,.New_P3:hover,.New_P4:hover,.New_P5:hover,.New_P6:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.img_box{
    width:100%;
    height:80%;
    background-color: blue;
}
.text_box{
    text-align: left;
}
.New_Product span{
    font-size: 20px;
}
.Area{
    background-color: #ECECFF;
    background-image:url("../Image/indexArea.png") ;
    background-size:cover;
    width:100%;
    margin-bottom:2%;
    padding:1.5cm 3cm 2cm 3cm;
}
.Area .title{
   text-align: center;
   font-size:70px;
   font-weight: bold;
}
.Area .Area_text{
    text-align: center;
    margin-top:30px;
    font-size:26px;
}
img{
    width:100%;
    height:100%;
}


.footer_area{
    background-color: #ECECFF;
    width:100%;
    height:75px;
}
.ig_iocn{
    width:70px;
    height:70px;
}
.line_iocn{
    width:75px;
    height:75px;
}
/*RWD*/
/*-----------------------------------------------------------------------------------------------------------*/



@media (max-width: 1950px) { /*PC_Computer*/
    .bigpg h1{
        font-size: calc( 3rem +   1.5vw);
        font-weight: bold;
    }
}  
@media (max-width: 1280px) { /*MD_Computer*/
    header .navbar-brand{
        font-size:35px;
    }
    header .nav-item{
        font-size:70%;
    }

    .bigpg{
        padding:4.5cm 4.5cm;
        height:500px;
    }
    .bigpg h1{
        font-size: 50px;
    }
    .bigpg p{
        font-size:0.8cm;
    }
    .bigpg a{
        font-size:20px;
        padding:10px 20px 10px 20px;
    }
    .New_Product .title{
        padding-top:30px;
        padding-bottom:30px;
    }
    .New_Product h1{
        font-size:28px;
    }
    .New_Product .title h1{
        font-size:40px;
    }
    .New_P1,.New_P2,.New_P3,.New_P4,.New_P5,.New_P6{
        margin-left:4.5%;
        margin-bottom:2%;
        width:23%;
        height:320px;
    }
    .New_P1,.New_P4{
        margin-left:11%;
    }
    .New_Product span{
        font-size:16px;
    }
    .Area{
        padding:1cm 3cm 1cm 3cm;
        margin-bottom:1.5%;
    }
    .Area .title{
       font-size:45px;
    }
    .Area .Area_text{
        margin-top:30px;
        font-size:16px;
    }

    .footer_area{
        height:50px;
    }
    .ig_iocn{
        width:50px;
        height:50px;
    }
    .line_iocn{
        width:50px;
        height:50px;
    }
}  
@media (max-width:990px){ /*Phone*/
    header .navbar-brand{
        margin:0 auto;
        font-size:70px;
    }
    header button{
        width:10%;
        height:2cm;
    }
    header .nav-item{
        font-size:150%;
    }
    .bigpg{
        background-image:url("../Image/bigpg_phone.png") ;
        padding:5cm 5cm;
        padding-left:7%;
        height:600px;
    }
    .bigpg h1{
        font-size:60px;
        width:21.5cm;
    }
    .bigpg p{
        font-size:1cm;
    }
    .bigpg a{
        font-size:30px;
    }
    .New_Product .title{
        padding-top:70px;
        padding-bottom:70px;
    }
    .New_Product .title h1{
        font-size:55px;
    }
    .New_Product .text_box h1{
        font-size:40px;
    }
    .New_P1,.New_P2,.New_P3,.New_P4,.New_P5,.New_P6{
        margin-left:4%;
        margin-bottom:7%;
        width:40%;
        height:450px;
    }
    .New_P1,.New_P3,.New_P5{
        margin-left:8%;
    }
    .Area{
        margin-bottom:4%;
        padding:1.5cm 0.5cm 2cm 0.5cm;
    }
    .Area .title{
       font-size:60px;
    }
    .Area .Area_text{
        margin-top:40px;
        font-size:26px;
    }

    .footer_area{
        height:110px;
        text-align: center;
    }
    .ig_iocn{
        width:100px;
        height:100px;
    }
    .line_iocn{
        width:100px;
        height:100px;
    }
    .New_Product span{
        font-size:25px;
    }
}
