body{
    font-family: '微軟正黑體';
}
header{
    font-size:30px;
}
header .navbar-brand{
    font-size:50px;
    margin-left:0.5cm;
}
header .nav-item{
    margin-left:0.5cm;
    margin-right:0.5cm;
}

.Area1{
    width:100%;
    height:550px;
}
.title{
    width:100%;
    font-size:4em;
    padding:0.5cm 0cm 0.5cm 0cm;
    text-align: center;
}
.top_btn,.down_btn{
    width:100%;
    height:90px;
    font-size:80px;
    text-align: center;
    background-color:#E0E0E0;
    opacity: 0.2;
    transition: 0.2s;
}


.Arrow_top{
    z-index: -1;
    width:100px;
    margin-top:-40px;
}
.Arrow_down{
    z-index: -1;
    width:100px;
    margin-top:-70px;
}

.insize_box{
    width:100%;
    height:76%;
    background-color: #ECECFF;
    box-shadow: inset 1px 1px 20px #ADADAD;
}

.green{
    width:100px;
    height:100px;
    background-color: green;
}

.footer_area{
    margin-top:20%;
    background-color: #ECECFF;
    width:100%;
    height:75px;
}
.ig_iocn{
    width:70px;
    height:70px;
}
.line_iocn{
    width:75px;
    height:75px;
}




/*動畫*/
/*-----------------------------------------------------------------------------------------------------------*/
@keyframes Arrowtop{
    0%{
        transform: translate(0,0px)
    }
    50%{
        transform: translate(0,15px)
    }
    50%{
        transform: translate(0,-15px)
    }
}
@keyframes Arrowdown{
    0%{
        transform: translate(0,0px)
    }
    50%{
        transform: translate(0,-15px)
    }
    50%{
        transform: translate(0,15px)
    }
}
.top_btn:hover > .Arrow_top{
    animation: Arrowtop 2s infinite;
}
.down_btn:hover > .Arrow_down{
    animation: Arrowdown 2s infinite;
}
.top_btn:hover,.down_btn:hover{
    opacity: 1;
    cursor: pointer;
}
.top_btn:active{
    background-color: #ADADAD;
}
.down_btn:active > .Arrow_down{
    opacity: 0.5;
}
.top_btn:active > .Arrow_top{
    opacity: 0.5;
}
.down_btn:active{
    background-color: #ADADAD;
}
.down_btn:active > .Arrow_down{
    animation: Arrowdown 2s infinite;
}
/*RWD*/
/*-----------------------------------------------------------------------------------------------------------*/



@media (max-width: 1950px) { /*Computer*/

} 
@media (max-width:1200px){ /*Computer_text*/
  
}
@media (max-width:990px){ /*Phone*/
    header .navbar-brand{
        margin:0 auto;
    }
    header button{
        width:10%;
        height:2cm;
    }
    header .navbar-brand{
        font-size:100px;
    }
    header .nav-item{
        font-size:150%;
    }
    .footer_area{
        height:140px;
        text-align: center;
    }
    .ig_iocn{
        width:120px;
        height:120px;
    }
    .line_iocn{
        width:125px;
        height:125px;
    }
}