body{
    font-family: '微軟正黑體';
}
header{
    font-size:30px;
}
header .navbar-brand{
    font-size:50px;
    margin-left:0.5cm;
}
header .nav-item{
    margin-left:0.5cm;
    margin-right:0.5cm;
}

.Area{
   padding:1cm 4cm 1cm 4cm;
}
.title{
    font-size: 1.5cm;
}
.title2{
    font-size: 1.2cm;
}
hr{
    width:100%;
    border:1px solid black;
}
.imgarea{
    text-align: center;
    margin-bottom:40px;
}
.Area .imgarea img{
    border:1px solid black;
    width:12%;
    height:12%;
    margin:2px;
}
.item_area{
    padding-top:0.8cm;
}
.P1{
    float:left;
    margin-left:2.5%;
    margin-bottom:2%;
    width:22%;
    height:400px;
    background-color: #ECECFF;
    transition: 0.3s;
}
.P1:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.img_box{
    width:100%;
    height:80%;
    background-color: blue;
}
h1{
    font-size:1cm;
}
span{
    font-size:20px;
}

.footer_area{
    margin-top:0%;
    background-color: #ECECFF;
    width:100%;
    height:75px;
}
.ig_iocn{
    width:70px;
    height:70px;
}
.line_iocn{
    width:75px;
    height:75px;
}




/*動畫*/
/*-----------------------------------------------------------------------------------------------------------*/

/*RWD*/
/*-----------------------------------------------------------------------------------------------------------*/



@media (max-width: 1950px) { /*Computer*/

} 
@media (max-width:1280px){ /*Computer_text*/
    header .navbar-brand{
        font-size:40px;
    }
    header .nav-item{
        font-size:70%;
    }
    .title{
        font-size: 1cm;
    }
    .title2{
        font-size: 0.8cm;
    }
    .Area .imgarea img{
        border:1px solid black;
        width:13%;
        height:13%;
        margin:2px;
    }
    .P1{
        width:30%;
        height:330px;
    }
    h1{
        font-size:0.8cm;
    }
    span{
        font-size:10px;
    }
    .footer_area{
        height:50px;
    }
    .ig_iocn{
        width:50px;
        height:50px;
    }
    .line_iocn{
        width:50px;
        height:50px;
    }
}
@media (max-width:990px){ /*Phone*/
    header .navbar-brand{
        margin:0 auto;
        font-size:70px;
    }
    header button{
        width:10%;
        height:2cm;
    }
    header .nav-item{
        font-size:150%;
    }
    .footer_area{
        height:110px;
        text-align: center;
    }
    .ig_iocn{
        width:100px;
        height:100px;
    }
    .line_iocn{
        width:100px;
        height:100px;
    }
}