body{
    font-family: '微軟正黑體';
}
header{
    font-size:30px;
}
header .navbar-brand{
    font-size:50px;
    margin-left:0.5cm;
}
header .nav-item{
    margin-left:0.5cm;
    margin-right:0.5cm;
}

.Area{
   padding:1cm 5cm 1cm 5cm;
}
.title{
    font-size: 1.5cm;
}
.title2{
    font-size: 1.2cm;
}
hr{
    width:100%;
    border:1px solid black;
}
.imgarea{
    text-align: center;
    margin-bottom:40px;
}
.Area .imgarea img{
    width:44%;
    height:95%;
    margin-left:10px;
    margin-right:10px;
    transition: 0.3s;
    box-shadow:3px 3px 3px#ADADAD;
}
.Area .imgarea img:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.item_area{
    padding-top:0.8cm;
}
.item_area img{
    width:100%;
    height:100%;
}
.P1{
    float:left;
    margin-left:2.5%;
    margin-bottom:2%;
    width:22%;
    height:380px;
    background-color: #ECECFF;
    transition: 0.3s;
}
.P1:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.img_box{
    width:100%;
    height:80%;
    background-color: blue;
}
h1{
    font-size:1cm;
    margin-bottom:0px;
}
span{
    font-size:20px;
}
.run_box1,.run_box2,.run_box3{
    display: inline-block;
    width:33%;
    height:220px;
 }
.action_right{
   position: absolute;
   display: none;
   z-index: 1;
   width:8%;
   height:320px;
   margin-left:83%;
   margin-top:-10px;
}
.action_left{
    position: absolute;
    display: none;
    z-index: 1;
    width:8%;
    height:320px;
    margin-left:-6%;
    margin-top:-5px;
    transform:rotate(180deg);
}
.footer_area{
    margin-top:0%;
    background-color: #ECECFF;
    width:100%;
    height:75px;
}
.ig_iocn{
    width:70px;
    height:70px;
}
.line_iocn{
    width:75px;
    height:75px;
}




/*動畫*/
/*-----------------------------------------------------------------------------------------------------------*/

.run-left100{
    transform: translate(-100%);
}
.run-left200{
    transform: translate(-200%);
}
.run-left300{
    transform: translate(-300%);
}
.run-right100{
    transform: translate(100%);
}
.run-right200{
    transform: translate(200%);
}
.run-right300{
    transform: translate(300%);
}
/*RWD*/
/*-----------------------------------------------------------------------------------------------------------*/



@media (max-width: 1950px) { /*Computer*/

} 
@media (max-width:1280px){ /*Computer_text*/
    header .navbar-brand{
        font-size:35px;
    }
    header .nav-item{
        font-size:70%;
    }
    .Area{
        padding:1cm 4cm 1cm 4cm;
     }
    .title{
        font-size: 1cm;
    }
    .title2{
        font-size: 0.8cm;
    }
    .Area .imgarea img{
        width:43%;
        height:100%;
    }
    .action_right{
        display: none;
     }
     .action_left{
        display: none;
     }
    .run_box1,.run_box2,.run_box3{
        width:33%;
        height:130px;
     }
    .P1{
        width:30%;
        height:330px;
    }
    h1{
        font-size:0.8cm;
    }
    span{
        font-size:16px;
    }
    .footer_area{
        height:50px;
    }
    .ig_iocn{
        width:50px;
        height:50px;
    }
    .line_iocn{
        width:50px;
        height:50px;
    }
}
@media (max-width:990px){ /*Phone*/
    header .navbar-brand{
        margin:0 auto;
        font-size:70px;
    }
    header button{
        width:10%;
        height:2cm;
    }
    header .nav-item{
        font-size:150%;
    }
    .Area{
        padding:1cm 2cm 1cm 2cm;
    }
    .title{
        font-size: 1.5cm;
        text-align: center;
    }
    .title2{
        font-size: 1.2cm;
        text-align: center;
    }
    .P1{
        width:45%;
        height:400px;
        margin-left:3.5%;
        margin-bottom:4%;
    }
    h1{
        font-size:1.1cm;
    }
    span{
        font-size:22px;
    }
    .Area .imgarea img{
        width:38%;
        height:90%;
        margin-left:7.5%;
    }
    .imgarea{
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
    }
    .run_box1,.run_box2,.run_box3{
        width:100%;
        height:330px;
        transition: transform 0.7s; 
    }
    .action_right{
        display: flex;
    }
    .action_left{
        display: flex;
    }
    .footer_area{
        height:110px;
        text-align: center;
    }
    .ig_iocn{
        width:100px;
        height:100px;
    }
    .line_iocn{
        width:100px;
        height:100px;
    }
}