body{
    font-family: '微軟正黑體';
}
header{
    font-size:30px;
}
header .navbar-brand{
    font-size:50px;
    margin-left:0.5cm;
}
header .nav-item{
    margin-left:0.5cm;
    margin-right:0.5cm;
}


.area1{
    width:100%;
    height:650px;
    background-color:#ECECFF;
}
.title1{
    font-size:1.5cm;
    padding:1.5cm 0cm 1cm 7%;
}
.title2{
    text-align: right;
    font-size:1.5cm;
    padding:1.5cm 8% 1cm 0cm;
}
.text1{
    float: left;
    margin-left:12%;
    font-size:25px;
    width:30%;
    word-break: break-all;
}
.text2{
    float: right;
    padding-right:14%;
    font-size:25px;
}
.img_box1{
    float:right;
    margin-top:-2.5cm;
    width:40%;
    height:460px;
    background-color: #7D7DFF;
    box-shadow:5px 5px 5px #9D9D9D;
}



.footer_area{
    background-color: #ECECFF;
    width:100%;
    height:75px;
}
.ig_iocn{
    width:70px;
    height:70px;
}
.line_iocn{
    width:75px;
    height:75px;
}



/*RWD*/
/*-----------------------------------------------------------------------------------------------------------*/



@media (max-width: 1950px) { /*Computer*/
    .title1{
        font-size: calc( 2rem +   1.5vw);
    }
} 
@media (max-width:1200px){ /*Computer_text*/
    body{
        background-color: black;
    }
    .title1{
        text-align: center;
        font-size:80px;
        padding:1.5cm 0cm 1.5cm 0cm;
    }
    .img_box1{
       width:95%;
       height:550px;
       margin:0cm;
    }
    .text1{
        width:90%;
        margin-left:5%;
        margin-top:3%;
        font-size: 45px;
    }
    .area1{
        height:1510px;
    }
}
@media (max-width:990px){ /*Phone*/
    header .navbar-brand{
        margin:0 auto;
    }
    header button{
        width:10%;
        height:2cm;
    }
    header .navbar-brand{
        font-size:100px;
    }
    header .nav-item{
        font-size:150%;
    }
    .footer_area{
        height:140px;
        text-align: center;
    }
    .ig_iocn{
        width:120px;
        height:120px;
    }
    .line_iocn{
        width:125px;
        height:125px;
    }
    .New_Product span{
        font-size:31px;
    }
}