body{
    font-family: '微軟正黑體';
}
header{
    font-size:30px;
}
header .navbar-brand{
    font-size:50px;
    margin-left:0.5cm;
}
header .nav-item{
    margin-left:0.5cm;
    margin-right:0.5cm;
}
.Area{
    padding:0cm 4cm 1cm 4cm;
}
.title{
    padding-top:1.5cm;
    font-size: 60px;
}
hr{
    border:1px solid black;
}
.list1,.list2,.list3,.list4,.list5,.list6,.list7,.list8,.list9,.list10,.list11{
    margin: auto;
    padding-top:25px;
    padding-left:20px;
    width:95%;
    height:100px;
    background-color: #DDDDFF;
    transition: 0.3s;
    box-shadow: 5px 5px 5px#BEBEBE;
}
.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9,.box10,.box11{
    box-shadow: inset 0px 5px 5px#BEBEBE;
    margin: auto;
    padding-left:20px;
    width:95%;
    height:0px;
    overflow:hidden;
    background-color: #FCFCFC;
}
.list1:hover,.list2:hover,.list3:hover,.list4:hover,.list5:hover,.list6:hover,.list7:hover,.list8:hover,.list9:hover,.list10:hover,.list11:hover{
    background-color: #AAAAFFFF;
    cursor: pointer;
}
h1{
    font-size:1.2cm;
}
.arrow1,.arrow2,.arrow3,.arrow4,.arrow5,.arrow6,.arrow7,.arrow8,.arrow9,.arrow10,.arrow11{
    margin-left:93%;
    margin-top:-6%;
    width:65px;
    height:35px;
    transition: transform 0.3s; 
}
.footer_area{
    margin-top:0%;
    background-color: #ECECFF;
    width:100%;
    height:75px;
}
.ig_iocn{
    width:70px;
    height:70px;
}
.line_iocn{
    width:75px;
    height:75px;
}




/*動畫*/
/*-----------------------------------------------------------------------------------------------------------*/
.open_box{
   animation: openbox 0.4s forwards;
}
.close_box{
    animation: closebox 0.4s forwards;
}
.list_foces{
    background-color: #AAAAFFFF;
}
.arrow_run{
    transform:rotate(180deg);
}
@keyframes openbox{
    from{
        height:0px;
    }to{
        height:200px;
    }
}
@keyframes closebox{
    from{
        height:200px;
    }to{
        height:-5px;
    }
}
/*RWD*/
/*-----------------------------------------------------------------------------------------------------------*/



@media (max-width: 1950px) { /*Computer*/

} 
@media (max-width:1280px){ /*MD_Computer*/
    header .navbar-brand{
        font-size:35px;
    }
    header .nav-item{
        font-size:70%;
    }
    .Area{
        padding:0cm 3cm 1cm 3cm;
    }
    .title{
        padding-top:1.2cm;
        font-size:40px;
    }
    .list1,.list2,.list3,.list4,.list5,.list6,.list7,.list8,.list9,.list10,.list11{
        padding-top:15px;
        padding-left:20px;
        height:65px;
    }
    h1{
        font-size:0.8cm;
    }
    h2{
        font-size:0.6cm;
    }
    .arrow1,.arrow2,.arrow3,.arrow4,.arrow5,.arrow6,.arrow7,.arrow8,.arrow9,.arrow10,.arrow11{
        margin-left:94%;
        margin-top:-8%;
        width:40px;
        height:20px;
    }
    .footer_area{
        height:50px;
    }
    .ig_iocn{
        width:50px;
        height:50px;
    }
    .line_iocn{
        width:50px;
        height:50px;
    }
}
@media (max-width:990px){ /*Phone*/
    header .navbar-brand{
        margin:0 auto;
        font-size:70px;
    }
    header button{
        width:10%;
        height:2cm;
    }
    header .nav-item{
        font-size:150%;
    }
    .Area{
        padding:0cm 1.7cm 1.5cm 1.7cm;
    }
    .title{
        text-align: center;
        font-size:65px;
    }
    .list1,.list2,.list3,.list4,.list5,.list6,.list7,.list8,.list9,.list10,.list11{
        padding-top:18px;
        padding-left:20px;
        height:90px;
        width:95%;
    }
    h1{
        font-size:1.2cm;
    }
    .box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9,.box10,.box11{
        margin: auto;
        padding-left:20px;
        width:95%;
        height:0px;
        overflow:hidden;
        background-color: #FCFCFC;
    }
    h2{
        font-size:1.2cm;
    }
    .footer_area{
        height:110px;
        text-align: center;
    }
    .arrow1,.arrow2,.arrow3,.arrow4,.arrow5,.arrow6,.arrow7,.arrow8,.arrow9,.arrow10,.arrow11{
        margin-left:90%;
        margin-top:-12%;
        width:60px;
        height:30px;
    }
    .ig_iocn{
        width:100px;
        height:100px;
    }
    .line_iocn{
        width:100px;
        height:100px;
    }
    @keyframes openbox{
        from{
            height:0px;
        }to{
            height:300px;
        }
    }
    @keyframes closebox{
        from{
            height:300px;
        }to{
            height:-5px;
        }
    }
}