header{
    margin-top:-70px;
    margin-left:-10px;
}
.head_color{
    position: relative;
    z-index: 1;
    width:1270px; 
    height:195px;
}
.logo_{
    position: absolute;
    top:5px;
    left: 120px;
    width: 260px;
    z-index: 2;
}
.head_text{
    top:81px;
    left:13cm;
    position: absolute;
    z-index: 2;
    font-size:25px;
    white-space:nowrap;
}
.button_{
    padding: 20px 25px 20px 25px;
    color:white;
    text-decoration: none;
}
.button_:hover{
    background-color: black;
}
.title_equipment1
{
    white-space:nowrap;
    color:black;
    margin-left:12cm;
    font-size:50px;
    line-height: 1cm;
    margin-top: 1cm;
    margin-bottom:0.5cm;
    font-family:"微軟正黑體";
}
hr{
    white-space:nowrap;
    margin-left: 6cm;
    width:800px;
}
.equipment1
{
    position: absolute;
    margin-top:0.3cm;
    margin-left: 1.7cm;
    width:1140px;
    height:300px;
    border-radius:50px;
    overflow:hidden;
    background-color: blue;
}
.equipment1  img{transform:scale(1,1);transition: all 1s ease-out;}
.equipment1  img:hover{transform:scale(1.2,1.2);}
.title_equipment2
{
    position: absolute;
    color:black;
    font-size:50px;
    line-height: 1cm;
    margin-left: 14.3cm;
    margin-top: 9.6cm;
    font-family:"微軟正黑體";
    white-space:nowrap;
}
.equipment2
{
    position: absolute;
    margin-top:11.5cm;
    margin-left: 1.5cm;
    width:1140px;
    height:300px;
    border-radius:50px;
    overflow:hidden;
    background-color: blue;
}
.equipment2  img{transform:scale(1,1);transition: all 1s ease-out;}
.equipment2  img:hover{transform:scale(1.2,1.2);}
.title_equipment3
{
    position: absolute;
    color:black;
    font-size:50px;
    line-height: 1cm;
    margin-left: 14.5cm;
    margin-top: 20.8cm;
    font-family:"微軟正黑體";
    white-space:nowrap;
}
.equipment3
{
    position: absolute;
    margin-top:22.7cm;
    margin-left: 1.5cm;
    width:1140px;
    height:300px;
    border-radius:50px;
    overflow:hidden;
    background-color: blue;
}
.equipment3  img{transform:scale(1,1);transition: all 1s ease-out;}
.equipment3  img:hover{transform:scale(1.2,1.2);}
.title_equipment4
{
    position: absolute;
    color:black;
    font-size:50px;
    line-height: 1cm;
    margin-left: 14.5cm;
    margin-top: 31.9cm;
    font-family:"微軟正黑體";
    white-space:nowrap;
}
.equipment4
{
    position: absolute;
    margin-top:33.9cm;
    margin-left: 1.5cm;
    width:1140px;
    height:300px;
    border-radius:50px;
    overflow:hidden;
    background-color: blue;
}
.equipment4  img{transform:scale(1,1);transition: all 1s ease-out;}
.equipment4  img:hover{transform:scale(1.2,1.2);}
.title_equipment5
{
    position: absolute;
    color:black;
    font-size:50px;
    line-height: 1cm;
    margin-left: 14cm;
    margin-top: 43cm;
    font-family:"微軟正黑體";
    white-space:nowrap;
}
.equipment5
{
    position: absolute;
    margin-top:45cm;
    margin-left: 1.5cm;
    width:1140px;
    height:300px;
    border-radius:50px;
    overflow:hidden;
    background-color: blue;
}
.equipment5  img{transform:scale(1,1);transition: all 1s ease-out;}
.equipment5  img:hover{transform:scale(1.2,1.2);}
.and{
    position:static;
    margin-left:-10px;
    clear:left;
    margin-top:56cm;
}
.and_color{
    width:1270px; 
    height:300px;
    margin-bottom: -2cm;
}
.ig_{
    position: absolute;
    z-index:0;
    left:14.2cm;
    margin-top:-6cm;
}
.line_end{
    position: absolute;
    margin-left: -4.1cm;
    margin-top: -20px;
    width:600px;
    white-space:nowrap;
}
.end_text{
    color:white;
    font-size:20px;
    margin-top:-1.7cm;
    margin-left: 13cm;
    font-family: "微軟正黑體";
    white-space:nowrap;
}